/*body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - src/main.scss"; 
}
  
#capitan{
	background: #DFA43D;
	height: 40px;
}
ul li {
	margin: 5px;
	list-style: none;
	color: white;
	background: #0C295A;
}
#secti-3 {
    background: black !important;
    color: white;
    text-align: center;
}
footer {
	background: black;
	width: 100%;
	height: 50px;
}
*/